<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--配置数据源，交给Spring去做-->
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="log4j"/>
    </settings>

    <!--别名-->
    <!--   方法1：赋别名    <typeAlias type="com.shanzj.Bean.User" alias="User"/>-->
    <!--   方法2：扫描包 在使用时是用包中类的名字(首字母小写，实际大写也可以使用，但官方文档推荐小写)-->
    <!--        同时方法2也可以在类上加是用@Alias("value")，但注解会覆盖扫包，也就是说方法2不可用了，必须用”value“-->
    <!--        与此同时，还有些默认的比如说int可以写为_int,Map可写为map，int的默认为integer，基本数据类型要在前面加上"_" -->
    <typeAliases>
        <package name="com.gvssimux.pojo"/>
    </typeAliases>

    <!--每一个Mapper.XML都需要在Mybatis核心配置文件中注册！有三种方法！-->
    <mappers>
        <package name="com.gvssimux.dao"/>
    </mappers>



</configuration>
