<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描service相关的bean -->
    <context:component-scan base-package="com.gvssimux.service" />

    <!--BookServiceImpl注入到IOC容器中-->

    <!--用户注册service-->
    <bean id="UserRegisterServiceImpl" class="com.gvssimux.service.UserRegisterServiceImpl">
        <property name="mapper" ref="userRegisterDao"/>
    </bean>

    <bean id="UserLoginServiceImpl" class="com.gvssimux.service.UserLoginServiceImpl">
        <property name="mapper" ref="userLoginDao"/>
    </bean>

    <!--茶种类service-->
    <bean id="TeaKindServiceImpl" class="com.gvssimux.service.TeaKindServiceImpl">
        <property name="k" value="TeaKind"/>
    </bean>


    <!--茶区service-->
    <bean id="TeaAreaServiceImpl" class="com.gvssimux.service.TeaAreaServiceImpl">
        <property name="k" value="Area"/>
    </bean>

    <!--茶园service-->
    <bean id="TeaGardenServiceImpl" class="com.gvssimux.service.TeaGardenServiceImpl">
        <property name="k" value="Garden"/>
    </bean>

    <!--茶树service-->
    <bean id="TeaTreeServiceImpl" class="com.gvssimux.service.TeaTreeServiceImpl">
        <property name="k" value="Tree"/>
    </bean>


    <!--茶叶service-->
    <bean id="TeaLeafServiceImpl" class="com.gvssimux.service.TeaLeafServiceImpl">

    </bean>

    <!--采摘service-->
    <bean id="TeaPickServiceImpl" class="com.gvssimux.service.TeaPickServiceImpl">
        <property name="k" value="Pick"/>
    </bean>

    <!--制茶service-->
    <bean id="TeaMakeServiceImpl" class="com.gvssimux.service.TeaMakeServiceImpl">
        <property name="k" value="Make"/>
    </bean>

    <!--定级service-->
    <bean id="TeaRankServiceImpl" class="com.gvssimux.service.TeaRankServiceImpl">
        <property name="k" value="Rank"/>
    </bean>

    <!--包装service-->
    <bean id="TeaPackServiceImpl" class="com.gvssimux.service.TeaPackServiceImpl">
        <property name="k" value="Pack"/>
    </bean>

    <!--质检service-->
    <bean id="TeaTestingServiceImpl" class="com.gvssimux.service.TeaTestingServiceImpl">
        <property name="k" value="Testing"/>
    </bean>

    <!--人员service-->
    <bean id="EmployeeServiceImpl" class="com.gvssimux.service.EmployeeServiceImpl">
        <property name="k" value="Employee"/>
    </bean>

    <!--仓储service-->
    <bean id="TeaWarehouseServiceImpl" class="com.gvssimux.service.TeaWarehouseServiceImpl">
        <property name="mapper" ref="teaWarehouseDao"/>
    </bean>


    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource" />
    </bean>



</beans>