<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

   <title>数据总览 </title> 

  <link rel="stylesheet" href="assets/css/style.css" />
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.8/theme-chalk/index.css" rel="stylesheet">
    <style>
        .demo-table-expand {
            font-size: 0;
        }
        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }
        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>


</head>

<body>


    <!-- Top Bar  -->
    <header class="top-bar" id="topbar">

        <!-- Menu Toggler -->
        <button type="button" class="menu-toggler la la-bars" data-toggle="menu"></button>

        <!-- Brand -->
        <span class="brand">茶叶溯源管理后台</span>

        <!-- Search -->
        <form class="hidden md:block ml-10" action="#">
            <label class="form-control-addon-within rounded-full">
                <input type="text" class="form-control border-none" placeholder="查找">
                <span class="flex items-center pr-4">
                        <button type="button"
                                class="dark:text-gray-700 dark:hover:text-primary btn btn-link text-gray-300 hover:text-primary text-xl leading-none la la-search"></button>
                    </span>
            </label>
        </form>

        <!-- Right -->
        <div class="flex items-center ml-auto">

            <!-- Dark Mode -->
            <label class="switch switch_outlined" data-toggle="tooltip" data-tippy-content="Toggle Dark Mode">
                <input id="darkModeToggler" type="checkbox">
                <span></span>
            </label>

            <!-- Fullscreen -->
            <button type="button"
                    class="hidden lg:inline-block btn-link ml-3 px-2 text-2xl leading-none la la-expand-arrows-alt"
                    data-toggle="tooltip" data-tippy-content="Fullscreen" id="fullScreenToggler"></button>



            <!-- User Menu -->
            <div class="dropdown">
                <button class="flex items-center ml-4 text-gray-700 focus:outline-none" data-toggle="custom-dropdown-menu"
                        data-tippy-arrow="true" data-tippy-placement="bottom-end">
                        <span
                                class="dark:bg-gray-900 dark:border-gray-600 dark:text-gray-500 flex items-center justify-center w-12 h-12 rounded-full bg-gray-200 border-2 border-gray-600 text-xl text-gray-700">U</span>
                </button>
                <div class="custom-dropdown-menu w-64">

                    <hr class="dark:border-gray-900 mb-0">
                    <div class="p-5">
                        <a href="#"
                           class="dark:text-gray-500 dark:hover:text-primary flex items-center text-gray-700 hover:text-primary"><span
                                class="la la-user-circle text-2xl leading-none mr-2"></span>管理员{{companyComputed}}</a>
                        <a href="#"
                           class="dark:text-gray-500 dark:hover:text-primary flex items-center text-gray-700 hover:text-primary mt-5"><span
                                class="la la-key text-2xl leading-none mr-2"></span>更改密码</a>
                    </div>
                    <hr class="dark:border-gray-900 mb-0">
                    <div class="p-5">
                        <a href="./toauthlogin"
                           class="dark:text-gray-500 dark:hover:text-primary flex items-center text-gray-700 hover:text-primary"><span
                                class="la la-power-off text-2xl leading-none mr-2"></span>退出</a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Menu Bar -->
    <aside class="menu-bar" id=menu>
        <div class="menu menu-sticky">
            <div class="menu-items">
                <template v-if="iscompany">
                    <a :href="tohome" data-toggle="tooltip-menu" data-tippy-content="Dashboard"><span
                            class="icon la la-laptop"></span><span class="title">总览</span></a>

                    <a :href="toforms" data-target="ui" data-toggle="tooltip-menu" data-tippy-content="UI"><span
                            class="icon la la-cube"></span><span class="title">生产上链</span></a>

                    <a :href="toform" data-target="menu" data-toggle="tooltip-menu" data-tippy-content="Menu"><span
                            class="icon la la-sitemap"></span><span class="title">经销上链</span></a>

                    <a :href="topeople" data-target="people" data-toggle="tooltip-menu" data-tippy-content="People"><span
                            class="icon la la-user"></span><span class="title">人员上链</span></a>

                    <a :href="todata" data-target="pages" data-toggle="tooltip-menu" data-tippy-content="Pages"><span
                            class="icon la la-file-alt"></span><span class="title">数据总览</span></a>

                    <a href="./toauthlogin" data-toggle="tooltip-menu" data-tippy-content="Blank Page"><span
                            class="icon la la-file"></span><span class="title">登录</span></a>
                </template>
                <a href="./tosearch" target="_blank" data-toggle="tooltip-menu" v-if="!iscompany"
                   data-tippy-content="Docs"><span class="icon la la-book-open"></span><span class="title">消费者查询</span></a>
            </div>

        </div>
        <span v-show="false" th:text="${company}" id="company" ></span>
    </aside>


    <!-- Workspace  -->
    <main class="workspace" id="root">

        <!-- Breadcrumb -->
        <section class="breadcrumb">
            <h1>数据总览</h1>
        </section>

        <div>
            <div>
                <!-- Basic -->
                <div class="card p-5">
                    <h3>茶区</h3>
                    <table class="table mt-3 w-full">
                        <thead>
                        <tr>
                            <th class="text-left uppercase">#</th>
                            <th class="text-left uppercase">茶区编号</th>
                            <th class="text-center uppercase">茶区名字</th>
                            <th class="text-center uppercase">茶区地址</th>
                            <th class="text-center uppercase">茶区面积</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(a, index) in listArea">
                            <td>{{index}}</td>
                            <td>{{a.teaAreaId1}}</td> <!--茶区编号 -->
                            <td class="text-center">{{a.teaAreaName}}</td> <!--茶区名字-->
                            <td class="text-center">{{a.teaAreaAddress}}</td>
                            <td class="text-center">
                                <div class="badge badge_outlined badge_secondary uppercase">{{a.teaAreaArea}}</div>
                            </td>
                        </tr>

        <!--                <tr>
                            <td>1</td>
                            <td>574e1bd4c24fb7b7b017c55bf97d16377f991d19e2c8d582f2b600876e01c9c0</td>
                            <td class="text-center">101</td>
                            <td class="text-center">合格</td>
                            <td class="text-center">
                                <div class="badge badge_outlined badge_secondary uppercase">湿润</div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2bdcf003d4c7714b5a008e0d53804741c1de578af28ffa453a0cc0153f2cc76f</td>
                            <td class="text-center">105</td>
                            <td class="text-center">合格</td>
                            <td class="text-center">
                                <div class="badge badge_outlined badge_secondary uppercase">干燥</div>
                            </td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>   <!--茶区-->

                <div class="card mt-4 p-5">
                    <h3>茶园</h3>
                    <table class="table table_borderedvmt-3 w-full">
                        <thead>
                        <tr>
                            <th class="text-left uppercase">#</th>
                            <th class="text-left uppercase">茶园编号</th>
                            <th class="text-center uppercase">茶园名字</th>
                            <th class="text-center uppercase">茶园地址</th>
                            <th class="text-center uppercase">茶园面积</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(a, index) in listGarden">
                            <td>{{index}}</td>
                            <td>{{a.teaGardenId1}}</td> <!--茶区编号 -->
                            <td>{{a.teaGardenName}}</td> <!--茶区名字-->
                            <td class="text-center">{{a.teaGardenAddress}}</td>
                            <td class="text-center">
                                <div class="badge badge_outlined badge_secondary uppercase">{{a.teaGardenArea}}</div>
                            </td>
                        </tr>

                        <!--                <tr>
                                            <td>1</td>
                                            <td>574e1bd4c24fb7b7b017c55bf97d16377f991d19e2c8d582f2b600876e01c9c0</td>
                                            <td class="text-center">101</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">
                                                <div class="badge badge_outlined badge_secondary uppercase">湿润</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2bdcf003d4c7714b5a008e0d53804741c1de578af28ffa453a0cc0153f2cc76f</td>
                                            <td class="text-center">105</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">
                                                <div class="badge badge_outlined badge_secondary uppercase">干燥</div>
                                            </td>
                                        </tr>-->
                        </tbody>
                    </table>
                </div>  <!--茶园-->

                <!-- Bordered -->
                <div class="card mt-5 p-5">
                    <h3>茶叶</h3>
                <!--    <table class="table table_bordered mt-3 w-full">
                        <thead>
                        <tr>
                            <th class="text-left uppercase">#</th>
                            <th class="text-left uppercase">茶叶批编号</th>
                            <th class="text-center uppercase">采摘时间</th>

                            <th class="text-center uppercase">所属茶树编号</th>
                            <th class="text-center uppercase">产量</th>
                            <th class="text-center uppercase">鲜叶质量</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(a,index) in listPick">
                            <td>{{index}}</td>
                            <td>574e1bd4c24fb7b7b017c55bf97d16377f991d19e2c8d582f2b600876e01c9c0</td>
                            <td class="text-center">096</td>
                            <td class="text-center">2021/04/26</td>
                            <td class="text-center">
                                C2
                            </td>
                            <td class="text-center">合格</td>
                        </tr>
                        </tbody>
                    </table>  -->  <!--采摘-->
                    <div>
                        <el-button @click="resetDateFilter">清除日期过滤器</el-button>
                        <el-button @click="clearFilter">清除所有过滤器</el-button>
                        <el-table
                                ref="filterTable"
                                :data="listLeft2"
                                stripe
                                border
                                :header-cell-style="{color:'rgba(20, 83, 136, var(--tw-text-opacity))'}"
                                style="width: 100%">
                            <el-table-column type="expand">
                                <template slot-scope="props">
                                    <el-form label-position="left" inline class="demo-table-expand">
                                        <el-form-item label="茶叶批编号">
                                            <span>{{ props.row.teaPick.teaPickId }}</span>
                                        </el-form-item>
                                        <el-form-item label="产量">
                                            <span>{{ props.row.teaPick.output }}</span>
                                        </el-form-item>
                                        <el-form-item label="采茶师编号">
                                            <span>{{ props.row.teaPick.teaPickPer.eid }}</span>
                                        </el-form-item>
                                        <el-form-item label="采茶师姓名">
                                            <span>{{ props.row.teaPick.teaPickPer.ename }}</span>
                                        </el-form-item>
                                        <el-form-item label="采茶师性别">
                                            <span>{{ props.row.teaPick.teaPickPer.esex }}</span>
                                        </el-form-item>
                                        <el-form-item label="采摘时间">
                                            <span>{{ props.row.teaPick.teaPickTime }}</span>
                                        </el-form-item>
                                        <el-form-item label="所属茶树编号">
                                            <span>{{ props.row.teaPick.teaTreeId2 }}</span>
                                        </el-form-item>
                                        <el-form-item label="鲜叶质量">
                                            <span>{{ props.row.teaPick.teaPickQuality }}</span>
                                        </el-form-item>
                                        <el-form-item label="采茶公司">
                                            <span>{{ props.row.teaPick.teaPickPer.company }}</span>
                                        </el-form-item>

                                        <el-form-item label="">
                                            <span></span>
                                        </el-form-item>

                                        <el-form-item label="制茶师编号">
                                            <span>{{ props.row.teaMake.teaMakePer.eid }}</span>
                                        </el-form-item>
                                        <el-form-item label="制茶师姓名">
                                            <span>{{ props.row.teaMake.teaMakePer.ename }}</span>
                                        </el-form-item>
                                        <el-form-item label="制茶师性别">
                                            <span>{{ props.row.teaMake.teaMakePer.esex }}</span>
                                        </el-form-item>
                                        <el-form-item label="制茶时间">
                                            <span>{{ props.row.teaMake.teaMakeTime }}</span>
                                        </el-form-item>
                                        <el-form-item label="制茶工艺">
                                            <span>{{ props.row.teaMake.teaMakeWay }}</span>
                                        </el-form-item>
                                        <el-form-item label="制茶公司">
                                            <span>{{ props.row.teaMake.teaMakePer.company }}</span>
                                        </el-form-item>

                                        <el-form-item label="">
                                            <span></span>
                                        </el-form-item>

                                        <el-form-item label="定级人编号">
                                            <span>{{ props.row.teaRank.teaRankPer.eid }}</span>
                                        </el-form-item>
                                        <el-form-item label="定级人姓名">
                                            <span>{{ props.row.teaRank.teaRankPer.ename }}</span>
                                        </el-form-item>
                                        <el-form-item label="定级人性别">
                                            <span>{{ props.row.teaRank.teaRankPer.esex }}</span>
                                        </el-form-item>
                                        <el-form-item label="定级时间">
                                            <span>{{ props.row.teaRank.teaRankTime }}</span>
                                        </el-form-item>
                                        <el-form-item label="茶叶等级">
                                            <span>{{ props.row.teaRank.teaRankRank }}</span>
                                        </el-form-item>
                                        <el-form-item label="公司">
                                            <span>{{ props.row.teaRank.teaRankPer.company }}</span>
                                        </el-form-item>

                                    </el-form>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="teaPick.teaPickId"
                                    label="茶叶批编号"
                                    width="120">
                            </el-table-column>
                            <el-table-column
                                    label="茶区/茶园编号"
                                    prop="AGId">
                            </el-table-column>
                            <el-table-column
                                    label="产量"
                                    prop="teaPick.output">
                            </el-table-column>
                            <el-table-column
                                    prop="teaPick.teaPickTime"
                                    label="采摘日期"
                                    sortable
                                    width="180"
                                    column-key="date"
                                    :filters="[{text: '2016-05-01', value: '2016-05-01'}, {text: '2016-05-02', value: '2016-05-02'}, {text: '2016-05-03', value: '2016-05-03'}, {text: '2016-05-04', value: '2016-05-04'}]"
                                    :filter-method="filterHandler"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="teaMake.teaMakeTime"
                                    label="制茶日期"
                                    sortable
                                    width="180"
                                    column-key="date"
                                    :filters="[{text: '2016-05-01', value: '2016-05-01'}, {text: '2016-05-02', value: '2016-05-02'}, {text: '2016-05-03', value: '2016-05-03'}, {text: '2016-05-04', value: '2016-05-04'}]"
                                    :filter-method="filterHandler"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="teaRank.teaRankTime"
                                    label="定级时间"
                                    sortable
                                    width="180"
                                    column-key="date"
                                    :filters="[{text: '2016-05-01', value: '2016-05-01'}, {text: '2016-05-02', value: '2016-05-02'}, {text: '2016-05-03', value: '2016-05-03'}, {text: '2016-05-04', value: '2016-05-04'}]"
                                    :filter-method="filterHandler"
                            >
                            </el-table-column>

                            <el-table-column
                                    prop="teaRank.teaRankRank"
                                    label="等级"
                                    width="100"
                                    :filters="[{ text: '特级', value: '特级' },{ text: '1级', value: '1级' },
                                    { text: '2级', value: '2级' },{ text: '3级', value: '3级' },
                                    { text: '4级', value: '4级' },{ text: '5级', value: '5级' },
                                    { text: '6级', value: '6级' },{ text: '7级', value: '7级' },
                                    { text: '8级', value: '8级' },{ text: '9级', value: '9级' },]"
                                    :filter-method="filterTag"
                                    filter-placement="bottom-end">
                                <template slot-scope="scope">
                                    <el-tag
                                            :type="scope.row.teaRank.teaRankRank === '特级' ? 'primary' : 'success'"
                                            disable-transitions>{{scope.row.teaRank.teaRankRank}}</el-tag>
                                </template>
                            </el-table-column>



                        </el-table>

                    </div>

                </div>  <!--采摘-->

                <!-- Hoverable -->
                <!--  <div class="card mt-5 p-5">
                    <h3>制茶</h3>
                    <table class="table table_hoverable mt-3 w-full">
                        <thead>
                        <tr>
                            <th class="text-left uppercase">#</th>
                            <th class="text-left uppercase">制茶师编号</th>
                            <th class="text-left uppercase">制茶时间</th>

                            <th class="text-center uppercase">制茶工艺</th>
                            <th class="text-center uppercase">鲜叶编号</th>
                            <th class="text-center uppercase">鲜叶质量</th>
                            <th class="text-center uppercase">茶叶批编号</th>
                            <th class="text-center uppercase">茶叶批质量</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td >8954</td>
                            <td>2021/04/27</td>
                            <td class="text-center">炒制</td>
                            <td class="text-center">C2</td>
                            <td class="text-center">
                                优
                            </td>
                            <td class="text-center">c8954154</td>

                            <td class="text-center">合格</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td >4568</td>
                            <td>2021/04/27</td>
                            <td class="text-center">发酵</td>
                            <td class="text-center">A5</td>
                            <td class="text-center">
                                优
                            </td>
                            <td class="text-center">c5214536</td>

                            <td class="text-center">合格</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td >2598</td>
                            <td>2021/04/27</td>
                            <td class="text-center">炒制</td>
                            <td class="text-center">D9</td>
                            <td class="text-center">
                                优
                            </td>
                            <td class="text-center">c8548569</td>

                            <td class="text-center">合格</td>
                        </tr>
                        </tbody>
                    </table>
                </div>  -->

            </div>

            <br>
            <!-- Striped -->
            <!-- <div >
                <div class="card p-5">
                    <h3>定级</h3>
                    <table class="table table_striped mt-3 w-full">
                        <thead>
                        <tr>
                            <th class="text-left uppercase">#</th>
                            <th class="text-left uppercase">定级人编号</th>
                            <th class="text-left uppercase">定级时间</th>

                            <th class="text-center uppercase">茶叶批编号</th>
                            <th class="text-center uppercase">茶叶等级</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td >68459</td>
                            <td>2021/04/30</td>

                            <td class="text-center">c8954154</td>

                            <td class="text-center">优</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td >55479</td>
                            <td>2021/04/02</td>

                            <td class="text-center">c5412154</td>

                            <td class="text-center">优</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td >65897</td>
                            <td>2021/04/05</td>

                            <td class="text-center">c7456544</td>

                            <td class="text-center">优</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                &lt;!&ndash; Borderless &ndash;&gt;
                <div class="card mt-5 p-5">
                    <h3>包装</h3>
                    <table class="table table_borderless mt-3 w-full">
                        <thead>
                        <tr>
                            <th class="text-left uppercase">#</th>
                            <th class="text-left uppercase">操作人编号</th>
                            <th class="text-left uppercase">包装时间</th>
                            <th class="text-left uppercase">小盒编号</th>
                            <th class="text-center uppercase">茶叶签名</th>
                            <th class="text-center uppercase">茶叶批编号</th>
                            <th class="text-left uppercase">茶叶等级</th>
                            <th class="text-left uppercase">大盒编号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td >85475</td>
                            <td>2021/05/01</td>

                            <td>5454</td>

                            <td class="text-center">c82dssd85</td>
                            <td class="text-center">c8954154</td>
                            <td >&nbsp;&nbsp;&nbsp;优</td>
                            <td >9568</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td >96521</td>
                            <td>2021/04/10</td>

                            <td>6562</td>

                            <td class="text-center">c9as5855</td>
                            <td class="text-center">c5869525</td>
                            <td >&nbsp;&nbsp;&nbsp;优</td>
                            <td >5145</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td >98564</td>
                            <td>2021/04/12</td>

                            <td>2574</td>

                            <td class="text-center">csd58241</td>
                            <td class="text-center">c9841554</td>
                            <td >&nbsp;&nbsp;&nbsp;优</td>
                            <td >7584</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>   -->

        </div>

        <br>

      <!--  <div>
            <div>
                &lt;!&ndash; Basic &ndash;&gt;
                <div class="card p-5">
                    <h3>质检</h3>
                    <table class="table mt-3 w-full">
                        <thead>
                        <tr>
                            <th class="text-left uppercase">#</th>
                            <th class="text-left uppercase">质检批次ID</th>
                            <th class="text-left uppercase">质检人编号</th>
                            <th class="text-left uppercase">质检时间</th>
                            <th class="text-center uppercase">大盒编号</th>
                            <th class="text-center uppercase">小盒编号</th>
                            <th class="text-left uppercase">质检结果</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td >85694</td>
                            <td>5642</td>

                            <td>2021/05/04</td>

                            <td class="text-center">9568</td>
                            <td class="text-center">5454</td>
                            <td >&nbsp;&nbsp;&nbsp;合格</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td >96587</td>
                            <td>8759</td>

                            <td>2021/04/12</td>

                            <td class="text-center">5145</td>
                            <td class="text-center">6562</td>
                            <td >&nbsp;&nbsp;&nbsp;合格</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td >51456</td>
                            <td>9981</td>

                            <td>2021/04/14</td>

                            <td class="text-center">7584</td>
                            <td class="text-center">2574</td>
                            <td >&nbsp;&nbsp;&nbsp;合格</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                &lt;!&ndash; Bordered &ndash;&gt;
                <div class="card mt-5 p-5">
                    <h3>仓储</h3>
                    <table class="table table_bordered mt-3 w-full">
                        <thead>
                        <tr>
                            <th class="text-left uppercase">#</th>
                            <th class="text-left uppercase">仓储编号</th>
                            <th class="text-left uppercase">管理员编号</th>
                            <th class="text-left uppercase">入库时间</th>
                            <th class="text-center uppercase">出库时间</th>
                            <th class="text-center uppercase">大盒编号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td >875415</td>
                            <td>9524</td>

                            <td>2021/05/05</td>

                            <td class="text-center">2021/05/06</td>
                            <td class="text-center">9568</td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td >514876</td>
                            <td>5625</td>

                            <td>2021/04/15</td>

                            <td class="text-center">2021/04/16</td>
                            <td class="text-center">5145</td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td >125645</td>
                            <td>1256</td>

                            <td>2021/04/16</td>

                            <td class="text-center">2021/04/18</td>
                            <td class="text-center">7584</td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                &lt;!&ndash; Hoverable &ndash;&gt;
                <div class="card mt-5 p-5">
                    <h3>销售</h3>
                    <table class="table table_hoverable mt-3 w-full">
                        <thead>
                        <tr>
                            <th class="text-left uppercase">#</th>
                            <th class="text-left uppercase">买方编号</th>
                            <th class="text-left uppercase">卖方编号</th>
                            <th class="text-left uppercase">销售时间</th>
                            <th class="text-center uppercase">批发/零售</th>
                            <th class="text-center uppercase">大/小盒编号</th>
                            <th class="text-center uppercase">仓库编号</th>
                            <th class="text-center uppercase">交货方式</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td >985654</td>
                            <td>845742</td>

                            <td>2021/05/10</td>

                            <td class="text-center">零售</td>
                            <td class="text-center">9568/5454</td>
                            <td class="text-center">547851</td>
                            <td class="text-center">快递</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td >854856</td>
                            <td>256865</td>

                            <td>2021/04/20</td>

                            <td class="text-center">零售</td>
                            <td class="text-center">5145/6562</td>
                            <td class="text-center">598615</td>
                            <td class="text-center">快递</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td >156458</td>
                            <td>256458</td>

                            <td>2021/04/19</td>

                            <td class="text-center">批发</td>
                            <td class="text-center">7574/1256</td>
                            <td class="text-center">589851</td>
                            <td class="text-center">快递</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            &lt;!&ndash; Striped &ndash;&gt;
            <div>
                <div class="card p-5">
                    <h3>物流</h3>
                    <table class="table table_striped mt-3 w-full">
                        <thead>
                        <tr>
                            <th class="text-left uppercase">#</th>
                            <th class="text-left uppercase">物流单号</th>
                            <th class="text-left uppercase">物流公司</th>
                            <th class="text-left uppercase">发货地址</th>
                            <th class="text-center uppercase">发货时间</th>
                            <th class="text-center uppercase">收货地址</th>
                            <th class="text-center uppercase">收货时间</th>
                            <th class="text-center uppercase">物流详情</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td >58445541</td>
                            <td>C快递公司</td>

                            <td>A地</td>

                            <td class="text-center">2021/05/07</td>
                            <td class="text-center">B地</td>
                            <td class="text-center">2021/05/09</td>
                            <td class="text-center">点击查看</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td >89561562</td>
                            <td>B快递公司</td>

                            <td>C地</td>

                            <td class="text-center">2021/04/21</td>
                            <td class="text-center">F地</td>
                            <td class="text-center">2021/04/23</td>
                            <td class="text-center">点击查看</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td >95845214</td>
                            <td>D快递公司</td>

                            <td>E地</td>

                            <td class="text-center">2021/04/22</td>
                            <td class="text-center">C地</td>
                            <td class="text-center">2021/04/25</td>
                            <td class="text-center">点击查看</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
-->

        <!-- Footer  -->
        <footer class="flex mt-auto">
            <div class="footer">
                <span class='uppercase'>&copy; 2021 茶叶溯源管理后台</span>
                <nav class="ml-auto">
                    <a href="">支持</a>
                    <span class="divider mx-2">|</span>
                    <a href="#">文档</a>
                </nav>
            </div>
        </footer>

    </main>


    <!-- Scripts -->
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/script.js"></script>
    <!-- vue -->
    <script src="assets/js/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <!--element-->
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.8/index.js"></script>

    <script src="assets/js/datas_shanzj.js"></script>
    <script src="assets/js/topbar_shanzj.js"></script>
    <script src="assets/js/menu_shanzj.js"></script>

</body>

</html>