<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  
    <title>茶叶溯源管理后台 </title>

    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/element/index.css">
</head>

<body>

    <!-- Top Bar  -->
    <header class="top-bar" id="topbar">

        <!-- Menu Toggler -->
        <button type="button" class="menu-toggler la la-bars" data-toggle="menu"></button>

        <!-- Brand -->
        <span class="brand">茶叶溯源管理后台</span>

        <!-- Search -->
        <form class="hidden md:block ml-10" action="#">
            <label class="form-control-addon-within rounded-full">
                <input type="text" class="form-control border-none" placeholder="查找">
                <span class="flex items-center pr-4">
                        <button type="button"
                                class="dark:text-gray-700 dark:hover:text-primary btn btn-link text-gray-300 hover:text-primary text-xl leading-none la la-search"></button>
                    </span>
            </label>
        </form>

        <!-- Right -->
        <div class="flex items-center ml-auto">

            <!-- Dark Mode -->
            <label class="switch switch_outlined" data-toggle="tooltip" data-tippy-content="Toggle Dark Mode">
                <input id="darkModeToggler" type="checkbox">
                <span></span>
            </label>

            <!-- Fullscreen -->
            <button type="button"
                    class="hidden lg:inline-block btn-link ml-3 px-2 text-2xl leading-none la la-expand-arrows-alt"
                    data-toggle="tooltip" data-tippy-content="Fullscreen" id="fullScreenToggler"></button>



            <!-- User Menu -->
            <div class="dropdown">
                <button class="flex items-center ml-4 text-gray-700 focus:outline-none" data-toggle="custom-dropdown-menu"
                        data-tippy-arrow="true" data-tippy-placement="bottom-end">
                        <span
                                class="dark:bg-gray-900 dark:border-gray-600 dark:text-gray-500 flex items-center justify-center w-12 h-12 rounded-full bg-gray-200 border-2 border-gray-600 text-xl text-gray-700">U</span>
                </button>
                <div class="custom-dropdown-menu w-64">

                    <hr class="dark:border-gray-900 mb-0">
                    <div class="p-5">
                        <a href="#"
                           class="dark:text-gray-500 dark:hover:text-primary flex items-center text-gray-700 hover:text-primary"><span
                                class="la la-user-circle text-2xl leading-none mr-2"></span>管理员{{companyComputed}}</a>
                        <a href="#"
                           class="dark:text-gray-500 dark:hover:text-primary flex items-center text-gray-700 hover:text-primary mt-5"><span
                                class="la la-key text-2xl leading-none mr-2"></span>更改密码</a>
                    </div>
                    <hr class="dark:border-gray-900 mb-0">
                    <div class="p-5">
                        <a href="#"
                           class="dark:text-gray-500 dark:hover:text-primary flex items-center text-gray-700 hover:text-primary"><span
                                class="la la-power-off text-2xl leading-none mr-2"></span>退出</a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Menu Bar -->
    <aside class="menu-bar" id=menu>
        <div class="menu menu-sticky">
            <div class="menu-items">
                <template v-if="iscompany">
                    <a :href="tohome" data-toggle="tooltip-menu" data-tippy-content="Dashboard"><span
                            class="icon la la-laptop"></span><span class="title">总览</span></a>

                    <a :href="toforms" data-target="ui" data-toggle="tooltip-menu" data-tippy-content="UI"><span
                            class="icon la la-cube"></span><span class="title">生产上链</span></a>

                    <a :href="toform" data-target="menu" data-toggle="tooltip-menu" data-tippy-content="Menu"><span
                            class="icon la la-sitemap"></span><span class="title">经销上链</span></a>

                    <a :href="topeople" data-target="people" data-toggle="tooltip-menu" data-tippy-content="People"><span
                            class="icon la la-user"></span><span class="title">人员上链</span></a>

                    <a :href="todata" data-target="pages" data-toggle="tooltip-menu" data-tippy-content="Pages"><span
                            class="icon la la-file-alt"></span><span class="title">数据总览</span></a>

                    <a href="./toauthlogin" data-toggle="tooltip-menu" data-tippy-content="Blank Page"><span
                            class="icon la la-file"></span><span class="title">登录</span></a>
                </template>
                <a href="./tosearch" target="_blank" data-toggle="tooltip-menu" v-if="!iscompany"
                   data-tippy-content="Docs"><span class="icon la la-book-open"></span><span class="title">消费者查询</span></a>
            </div>

        </div>
        <span v-show="false" th:text="${company}" id="company" ></span>
    </aside>


    <!-- Workspace  -->
    <main class="workspace" id="root">

        <!-- Breadcrumb -->
        <section class="breadcrumb" >
            <h1>生产数据上链</h1>
           
        </section>

        <div class="lg:flex lg:-mx-4">

            <!-- 生产企业(协会监管) -->
            <div class="lg:w-1/2 lg:px-4" style="margin: 0px auto;">
               
                <div class="card mt-5 p-5">
                    <div class="tabs wizard">
                        <nav class="tab-nav">
                            <a href="#" class="h5 active" data-toggle="tab" data-target="#tab-1">茶区<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></a>
                            <a href="#" class="h5 active" data-toggle="tab" data-target="#tab-2">茶园<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></a>
                            <a href="#" class="h5 active" data-toggle="tab" data-target="#tab-3">茶树<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></a>
                            <a href="#" class="h5 active" data-toggle="tab" data-target="#tab-4">采摘<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></a>
                            <a href="#" class="h5 active" data-toggle="tab" data-target="#tab-5">制茶<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></a>
                            <a href="#" class="h5 active" data-toggle="tab" data-target="#tab-6">定级<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></a>
                            <a href="#" class="h5 active" data-toggle="tab" data-target="#tab-7">包装<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></a>
                            <a href="#" class="h5 active" data-toggle="tab" data-target="#tab-8">质检<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></a>

                        </nav>
                        <div class="tab-content mt-5">
                            <div class="collapse open" id="tab-1">
                                <form action="/Fabric_TraceabilitySys_war_exploded/teaarea" method="post">
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶区编号</label>
                                        <input type="text" class="form-control" name="tea_area_id1"
                                               v-model:placeholder="pojo.id">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶区名</label>
                                        <input type="text" class="form-control" name="tea_area_name"
                                               v-model:placeholder="pojo.name">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶区地址</label>
                                        <input type="text" class="form-control" name="tea_area_address"
                                               v-model:placeholder="pojo.address">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶区面积</label>
                                        <input type="text" class="form-control" name="tea_area_area"
                                               v-model:placeholder="pojo.area">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶区经纬度</label>
                                        <input type="text" class="form-control" name="tea_area_longitude"
                                               v-model:placeholder="pojo.altitude">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">所属茶区编号</label>
                                        <input type="text" class="form-control" name="tea_area_id2"
                                               v-model:placeholder="pojo.areaid2">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">所属茶园编号</label>
                                        <input type="text" class="form-control" name="tea_garden_id2"
                                               v-model:placeholder="pojo.gardenid2">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">所属公司</label>
                                        <input type="text" class="form-control" name="companyName"
                                               placeholder="">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">密码</label>
                                        <input type="password" class="form-control" value="" name="key">
                                    </div>

                                    <div class="btn-group">
                                        <button type="submit" class="btn btn_primary uppercase">提交</button>
                                    </div>
                                </form>
                            </div>
                            <div class="collapse" id="tab-2">
                                <form action="/Fabric_TraceabilitySys_war_exploded/teagarden" method="post">
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶园编号</label>
                                        <input type="text" class="form-control" name="tea_garden_id1"
                                               v-model:placeholder="pojo.id">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶园名</label>
                                        <input type="text" class="form-control" name="tea_garden_name"
                                               v-model:placeholder="pojo.name">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶园地址</label>
                                        <input type="text" class="form-control" name="tea_garden_address"
                                               v-model:placeholder="pojo.address">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶园面积</label>
                                        <input type="text" class="form-control" name="tea_garden_area"
                                               v-model:placeholder="pojo.area">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶园经纬度</label>
                                        <input type="text" class="form-control" name="tea_garden_longitude"
                                               v-model:placeholder="pojo.altitude">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">所属茶区编号</label>
                                        <input type="text" class="form-control" name="tea_area_id2"
                                               v-model:placeholder="pojo.areaid2">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">所属茶园编号</label>
                                        <input type="text" class="form-control" name="tea_garden_id2"
                                               v-model:placeholder="pojo.garden2">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">所属公司</label>
                                        <input type="text" class="form-control" name="companyName"
                                               placeholder="">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">密码</label>
                                        <input type="password" class="form-control" value="" name="key">
                                    </div>
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn_primary uppercase">提交</button>
                                    </div>
                                </form>
                            </div>
                            <div class="collapse" id="tab-3">
                                <form action="/Fabric_TraceabilitySys_war_exploded/teatree" method="post">
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶树编号</label>
                                        <input type="text" class="form-control" name="tea_tree_id"
                                               v-model:placeholder="pojo.id">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶树地址</label>
                                        <input type="text" class="form-control" name="tea_tree_address"
                                               v-model:placeholder="pojo.address">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶树经纬度</label>
                                        <input type="text" class="form-control" name="tea_tree_longitude"
                                               v-model:placeholder="pojo.altitude">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶树高度</label>
                                        <input type="text" class="form-control" name="tea_tree_height"
                                               v-model:placeholder="pojo.height">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶树种类</label>
                                        <input type="text" class="form-control" name="tea_tree_kind"
                                               v-model:placeholder="pojo.kind">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶树状况</label>
                                        <input type="text" class="form-control" name="tea_tree_state"
                                               v-model:placeholder="pojo.state">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶树护养情况</label>
                                        <input type="text" class="form-control" name="tea_tree_cultivate"
                                               v-model:placeholder="pojo.cultivate">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶树生长环境</label>
                                        <input type="text" class="form-control" name="tea_tree_Growing_Env"
                                               v-model:placeholder="pojo.genv">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶树所属茶区</label>
                                        <input type="text" class="form-control" name="tea_area_id2"
                                               v-model:placeholder="pojo.areaid2">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶树所属茶园</label>
                                        <input type="text" class="form-control" name="tea_garden_id2"
                                               v-model:placeholder="pojo.gardenid2">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">所属公司</label>
                                        <input type="text" class="form-control" name="companyName"
                                               placeholder="">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">密码</label>
                                        <input type="password" class="form-control" value="" name="key">
                                    </div>
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn_primary uppercase">提交</button>
                                    </div>
                                </form>
                            </div>
                            <div class="collapse" id="tab-4">
                                <form action="/Fabric_TraceabilitySys_war_exploded/teapick" method="post">
                                    <div class="mb-5">
                                        <label class="label block mb-2">采茶师编号</label>
                                        <input type="text" class="form-control" name="tea_pick_per_id"
                                            v-model:placeholder="employee.id">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">采茶师姓名</label>
                                        <input type="text" class="form-control" name="tea_pick_per_name"
                                            v-model:placeholder="employee.name">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">采茶师性别</label>
                                        <input type="text" class="form-control" name="tea_pick_per_sex"
                                            v-model:placeholder="employee.sex">
                                    </div>
                                    <div class="mb-5" v-show="false">
                                        <label class="label block mb-2">采摘时间</label>
                                        <input type="text" class="form-control" name="tea_pick_time"
                                            v-model:placeholder="datatime">
                                    </div>
                                    <div class="mb-5 block">
                                        <span class="label block mb-2 demonstration">采摘时间</span>
                                        <el-date-picker
                                                v-model="datatime"
                                                type="datetime"
                                                placeholder="选择日期时间"
                                                align="center"
                                                value-format="yyyy-MM-dd-HH-mm-ss"
                                                :picker-options="pickerOptions">
                                        </el-date-picker>
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶叶批编号</label>
                                        <input type="text" class="form-control" name="tea_pick_id"
                                               v-model:placeholder="tea.id">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">所属茶树编号</label>
                                        <input type="text" class="form-control" name="tea_tree_id2"
                                               v-model:placeholder="tea.id2">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">产量</label>
                                        <el-input-number v-model="tea.output" name="output" @change="handleChange" :min="1" :max="99999" label="描述文字">
                                        </el-input-number>
                                    </div>


                                    <div class="mb-5">
                                        <label class="label block mb-2">鲜叶质量</label>
                                        <input type="text" class="form-control" name="tea_pick_quality"
                                               v-model:placeholder="tea.quality">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">公司</label>
                                        <input type="text" class="form-control" name="companyName"
                                               placeholder="">
                                    </div>

                                    <div class="mb-5">
                                        <label class="label block mb-2">密码</label>
                                        <input type="password" class="form-control" value="" name="key">
                                    </div>

                                    <div class="btn-group">
                                        <button type="submit" class="btn btn_primary uppercase">提交</button>
                                    </div>
                                </form>
                            </div>
                            <div class="collapse" id="tab-5">
                                <form action="/Fabric_TraceabilitySys_war_exploded/teamake" method="post">
                                    <div class="mb-5">
                                        <label class="label block mb-2">制茶师编号</label>
                                        <input type="text" class="form-control" name="tea_make_per_id"
                                            v-model:placeholder="employee.id">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">制茶师姓名</label>
                                        <input type="text" class="form-control" name="tea_make_per_name"
                                            v-model:placeholder="employee.name">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">制茶师性别</label>
                                        <input type="text" class="form-control" name="tea_make_per_sex"
                                            v-model:placeholder="employee.sex">
                                    </div>
                                    <div class="mb-5" v-show="false">
                                        <label class="label block mb-2">制茶时间</label>
                                        <input type="text" class="form-control" name="tea_make_time"
                                            v-model:placeholder="datatime">
                                    </div>
                                    <div class="mb-5 block">
                                        <span class="label block mb-2 demonstration">制茶时间</span>
                                        <el-date-picker
                                                v-model="datatime"
                                                type="datetime"
                                                placeholder="选择日期时间"
                                                align="center"
                                                value-format="yyyy-MM-dd-HH-mm-ss"
                                                :picker-options="pickerOptions">
                                        </el-date-picker>
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">制茶工艺</label>
                                        <input type="text" class="form-control" name="tea_make_way"
                                               v-model:placeholder="tea.makeway">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶叶批编号</label>
                                        <input type="text" class="form-control" name="tea_make_id"
                                               v-model:placeholder="tea.id">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">产量</label>
                                        <el-input-number v-model="tea.output" name="output" @change="handleChange" :min="1" :max="99999" label="描述文字">
                                        </el-input-number>
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">公司</label>
                                        <input type="text" class="form-control" name="companyName"
                                               placeholder="">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">密码</label>
                                        <input type="password" class="form-control" value="" name="key">
                                    </div>
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn_primary uppercase">提交</button>
                                    </div>
                                </form>
                            </div>
                            <div class="collapse" id="tab-6">
                                <form action="/Fabric_TraceabilitySys_war_exploded/tearank" method="post">
                                    <div class="mb-5">
                                        <label class="label block mb-2">定级人编号</label>
                                        <input type="text" class="form-control" name="tea_rank_per_id"
                                            v-model:placeholder="employee.id">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">定级人姓名</label>
                                        <input type="text" class="form-control" name="tea_rank_per_name"
                                               v-model:placeholder="employee.name">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">定级人性别</label>
                                        <input type="text" class="form-control" name="tea_rank_per_sex"
                                               v-model:placeholder="employee.sex">
                                    </div>
                                    <div class="mb-5" v-show="false">
                                        <label class="label block mb-2">定级时间</label>
                                        <input type="text" class="form-control" name="tea_rank_time" v-model="datatime"
                                               placeholder="">
                                    </div>
                                    <div class="mb-5 block">
                                        <span class="label block mb-2 demonstration">定级时间</span>
                                        <el-date-picker
                                                v-model="datatime"
                                                type="datetime"
                                                placeholder="选择日期时间"
                                                align="center"
                                                value-format="yyyy-MM-dd-HH-mm-ss"
                                                :picker-options="pickerOptions">
                                        </el-date-picker>
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶叶批编号</label>
                                        <input type="text" class="form-control" name="tea_rank_id"
                                               v-model:placeholder="tea.id">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶叶等级</label>
                                        <input type="text" class="form-control" name="tea_rank_rank"
                                            v-model:placeholder="tea.rank">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">公司</label>
                                        <input type="text" class="form-control" name="companyName"
                                               placeholder="">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">密码</label>
                                        <input type="password" class="form-control" value="" name="key">
                                    </div>
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn_primary uppercase">提交</button>
                                    </div>
                                </form>
                            </div>
                            <div class="collapse" id="tab-7">
                                <form  action="/Fabric_TraceabilitySys_war_exploded/teapack" method="post">
                                    <div class="mb-5">
                                        <label class="label block mb-2">包装人编号</label>
                                        <input type="text" class="form-control" name="tea_pack_per_id"
                                            v-model:placeholder="employee.id">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">包装人姓名</label>
                                        <input type="text" class="form-control" name="tea_pack_per_name"
                                            v-model:placeholder="employee.name">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">包装人性别</label>
                                        <input type="text" class="form-control" name="tea_pack_per_sex"
                                            v-model:placeholder="employee.sex">
                                    </div>
                                    <div class="mb-5" v-show="false">
                                        <label class="label block mb-2">包装时间</label>
                                        <input type="text" class="form-control" name="tea_pack_time"
                                            v-model:placeholder="datatime">
                                    </div>
                                    <div class="mb-5 block">
                                        <span class="label block mb-2 demonstration">包装时间</span>
                                        <el-date-picker
                                                v-model="datatime"
                                                type="datetime"
                                                placeholder="选择日期时间"
                                                align="center"
                                                value-format="yyyy-MM-dd-HH-mm-ss"
                                                :picker-options="pickerOptions">
                                        </el-date-picker>
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">小盒编号</label>
                                        <input type="text" class="form-control" name="tea_pack_smll_box_id"
                                            v-model:placeholder="pojo2.smallBoxId">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">大盒编号</label>
                                        <input type="text" class="form-control" name="tea_pack_big_box_id"
                                            v-model:placeholder="pojo2.bigBoxId">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">茶叶批编号</label>
                                        <input type="text" class="form-control" name="tea_pack_id"
                                               v-model:placeholder="tea.id">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">公司</label>
                                        <input type="text" class="form-control" name="companyName"
                                               placeholder="">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">密码</label>
                                        <input type="password" class="form-control" value="" name="key">
                                    </div>
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn_primary uppercase">提交</button>
                                    </div>
                                </form>
                            </div>
                            <div class="collapse" id="tab-8">
                                <form  action="/Fabric_TraceabilitySys_war_exploded/teatesting" method="post">
                                    <div class="mb-5">
                                        <label class="label block mb-2">质检人编号</label>
                                        <input type="text" class="form-control" name="tea_testing_per_id"
                                               v-model:placeholder="employee.id">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">质检人姓名</label>
                                        <input type="text" class="form-control" name="tea_testing_per_name"
                                               v-model:placeholder="employee.name">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">质检人性别</label>
                                        <input type="text" class="form-control" name="tea_testing_per_sex"
                                               v-model:placeholder="employee.sex">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">质检批次ID</label>
                                        <input type="text" class="form-control" name="tea_testing_id"
                                               v-model:placeholder="pojo2.testingId">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">质检结果</label>
                                        <input type="text" class="form-control" name="tea_testing_result"
                                               v-model:placeholder="pojo2.testingQ">
                                    </div>
                                    <div class="mb-5" v-show="false">
                                        <label class="label block mb-2">质检时间</label>
                                        <input type="text" class="form-control" name="tea_testing_time"
                                               v-model:placeholder="datatime">
                                    </div>
                                    <div class="mb-5 block">
                                        <span class="label block mb-2 demonstration">质检时间</span>
                                        <el-date-picker
                                                v-model="datatime"
                                                type="datetime"
                                                placeholder="选择日期时间"
                                                align="center"
                                                value-format="yyyy-MM-dd-HH-mm-ss"
                                                :picker-options="pickerOptions">
                                        </el-date-picker>
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">小盒编号</label>
                                        <input type="text" class="form-control" name="tea_testing_smll_box_id"
                                               v-model:placeholder="pojo2.smallBoxId">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">大盒编号</label>
                                        <input type="text" class="form-control" name="tea_testing_big_box_id"
                                               v-model:placeholder="pojo2.bigBoxId">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">公司</label>
                                        <input type="text" class="form-control" name="companyName"
                                               placeholder="">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2">密码</label>
                                        <input type="password" class="form-control" value="" name="key">
                                    </div>
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn_primary uppercase">提交</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <!--<div class="btn-group">
                                <button type="button" class="btn btn_primary uppercase">提交</button>
                            </div>-->
                        </div>

                    </div>
                </div>
            </div>

            <!-- 经销商 -->
            <!-- <div class="lg:w-1/2 lg:px-4 pt-5 lg:pt-0">
                <h3>经销商</h3>
                <div class="card mt-5 p-5">
                    <div class="tabs wizard wizard-style-2">
                        <nav class="tab-nav">
                            <a href="#" class="h5 active" data-toggle="tab" data-target="#tab-style-2-1">仓储<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></a>
                            <a href="#" class="h5" data-toggle="tab" data-target="#tab-style-2-2">销售<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></a>
                            <a href="#" class="h5" data-toggle="tab" data-target="#tab-style-2-3">物流<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></a>
                        </nav>
                        <div class="tab-content mt-8">
                            <div class="collapse open" id="tab-style-2-1">
                                <form>
                                    <div class="mb-5">
                                        <label class="label block mb-2" for="email">仓库编号</label>
                                        <input type="text" class="form-control" id="email"
                                            placeholder="">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2" for="email">管理员编号</label>
                                        <input type="text" class="form-control" id="email"
                                            placeholder="">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2" for="email">入库时间</label>
                                        <input type="text" class="form-control" id="email"
                                            placeholder="">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2" for="email">出库时间</label>
                                        <input type="text" class="form-control" id="email"
                                            placeholder="">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2" for="email">大盒编号</label>
                                        <input type="text" class="form-control" id="email"
                                            placeholder="">
                                    </div>
                                    <div class="mb-5">
                                        <label class="label block mb-2" for="password">密码</label>
                                        <input type="password" class="form-control" id="password" value="">
                                    </div>
                                </form>
                            </div>
                            <div class="collapse" id="tab-style-2-2">
                                Step 2 Content
                            </div>
                            <div class="collapse" id="tab-style-2-3">
                                Step 3 Content
                            </div>
                        </div>
                        <div class="mt-5">
                            <div class="btn-group">
                                <button type="button" class="btn btn_primary uppercase">提交</button>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- Footer  -->
        <footer class="flex mt-auto">
            <div class="footer">
                <span class='uppercase'>&copy; 2021 茶叶溯源管理后台</span>
                <nav class="ml-auto">
                    <a href="">支持</a>
                    <span class="divider mx-2">|</span>
                    <a href="#">文档</a>
                </nav>
            </div>
        </footer>
    </main>


    <!-- Scripts -->
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/script.js"></script>
    <!-- vue -->
    <script src="assets/js/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!--element-->
    <script src="assets/js/element/index.js"></script>

    <script src="assets/js/shanzj/forms.js"></script>
    <script src="assets/js/topbar_shanzj.js"></script>
    <script src="assets/js/menu_shanzj.js"></script>

</body>

</html>