<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

   <title>消费者查询 </title> 

  <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>

    <!-- Top Bar  -->
    <header class="top-bar">

        <!-- Menu Toggler -->
        <button type="button" class="menu-toggler la la-bars" data-toggle="menu"></button>

        <!-- Brand -->
        <span class="brand">茶叶溯源管理后台</span>

        <!-- Search -->
        <form class="hidden md:block ml-10" action="#">
            <label class="form-control-addon-within rounded-full">
                <input type="text" class="form-control border-none" placeholder="查找">
                <span class="flex items-center pr-4">
                    <button type="button"
                        class="dark:text-gray-700 dark:hover:text-primary btn btn-link text-gray-300 hover:text-primary text-xl leading-none la la-search"></button>
                </span>
            </label>
        </form>

        <!-- Right -->
        <div class="flex items-center ml-auto">

            <!-- Dark Mode -->
            <label class="switch switch_outlined" data-toggle="tooltip" data-tippy-content="Toggle Dark Mode">
                <input id="darkModeToggler" type="checkbox">
                <span></span>
            </label>

            <!-- Fullscreen -->
            <button type="button"
                class="hidden lg:inline-block btn-link ml-3 px-2 text-2xl leading-none la la-expand-arrows-alt"
                data-toggle="tooltip" data-tippy-content="Fullscreen" id="fullScreenToggler"></button>

           
           
            <!-- User Menu -->
            <div class="dropdown">
                <button class="flex items-center ml-4 text-gray-700 focus:outline-none" data-toggle="custom-dropdown-menu"
                    data-tippy-arrow="true" data-tippy-placement="bottom-end">
                    <span
                        class="dark:bg-gray-900 dark:border-gray-600 dark:text-gray-500 flex items-center justify-center w-12 h-12 rounded-full bg-gray-200 border-2 border-gray-600 text-xl text-gray-700">U</span>
                </button>
                <div class="custom-dropdown-menu w-64">
                  
                    <hr class="dark:border-gray-900 mb-0">
                    <div class="p-5">
                        <a href="#"
                            class="dark:text-gray-500 dark:hover:text-primary flex items-center text-gray-700 hover:text-primary"><span
                                class="la la-user-circle text-2xl leading-none mr-2"></span>管理员</a>
                        <a href="#"
                            class="dark:text-gray-500 dark:hover:text-primary flex items-center text-gray-700 hover:text-primary mt-5"><span
                                class="la la-key text-2xl leading-none mr-2"></span>更改密码</a>
                    </div>
                    <hr class="dark:border-gray-900 mb-0">
                    <div class="p-5">
                        <a href="#"
                            class="dark:text-gray-500 dark:hover:text-primary flex items-center text-gray-700 hover:text-primary"><span
                                class="la la-power-off text-2xl leading-none mr-2"></span>退出</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Menu Bar -->
    <aside class="menu-bar">
        <div class="menu menu-sticky">
            <div class="menu-items">
                <a href="./tohome" data-toggle="tooltip-menu" data-tippy-content="Dashboard"><span
                        class="icon la la-laptop"></span><span class="title">总览</span></a>

                <a href="./toforms" data-target="ui" data-toggle="tooltip-menu" data-tippy-content="UI"><span
                        class="icon la la-cube"></span><span class="title">生产上链</span></a>

                <a href="./toform" data-target="menu" data-toggle="tooltip-menu" data-tippy-content="Menu"><span
                        class="icon la la-sitemap"></span><span class="title">经销上链</span></a>

                <a href="./topeople" data-target="people" data-toggle="tooltip-menu" data-tippy-content="People"><span
                        class="icon la la-user"></span><span class="title">人员上链</span></a>

                <a href="./todata" data-target="pages" data-toggle="tooltip-menu" data-tippy-content="Pages"><span
                        class="icon la la-file-alt"></span><span class="title">数据总览</span></a>

                <a href="./toauthlogin" data-toggle="tooltip-menu" data-tippy-content="Blank Page"><span
                        class="icon la la-file"></span><span class="title">登录</span></a>

                <a href="./tosearch" target="_blank" data-toggle="tooltip-menu"
                   data-tippy-content="Docs"><span class="icon la la-book-open"></span><span class="title">消费者查询</span></a>
            </div>

        </div>
    </aside>

    <!-- Workspace  -->
    <main class="workspace overflow-hidden" id="root">

        <!-- Breadcrumb -->
        <section class="breadcrumb lg:flex items-start">
            <div>
                <h1>消费者查询</h1>
            </div>

            <div class="lg:flex items-center ml-auto mt-5 lg:mt-0">
                <div class="mt-5 lg:mt-0">
                    <a href="#" class="btn btn-icon btn-icon_large btn_outlined btn_primary"><span
                            class="la la-bars"></span></a>
                </div>
                <form class="flex items-center lg:ml-2 mt-5 lg:mt-0" action="/Fabric_TraceabilitySys_war_exploded/t3" method="get">
                    <label class="form-control-addon-within border-secondary rounded-full overflow-hidden">
                        <input v-model="UserCode" type="text" class="form-control border-none" placeholder="输入溯源码" name="userCode">
                        <span class="flex items-center pr-4">
                            <button type="button" @click="showInfo"
                                class="dark:text-gray-700 dark:hover:text-primary text-secondary hover:text-primary btn btn-link la la-search text-xl leading-none">
                            </button>
                        </span>
                    </label>
                </form>
                <div class="flex mt-5 lg:mt-0">
                    <div class="dropdown lg:ml-2">

                    </div>

                </div>
            </div>
        </section>


        <!-- List -->
        <template v-if="retr">
        <div class="card p-5">
            <div class="overflow-x-auto">
                <table class="table table-auto table_hoverable w-full">
                    <thead>
                        <tr>
                            <th class="w-px">
                                <label class="custom-checkbox">
                                    
                                    <span></span>
                                </label>
                            </th>
                            <th class="text-left uppercase">茶树区块号</th>
                            <th class="text-center uppercase">茶园编号</th>
                            
                            <th class="text-center uppercase">茶树护养</th>
                            <th class="text-center uppercase">生长环境</th>
                            <th class="uppercase"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="custom-checkbox">
                                   
                                    <span></span>
                                </label>
                            </td>
                            <td>574e1bd4c24fb7b7b017c55bf97d16377f991d19e2c8d582f2b600876e01c9c0</td>
                            <td class="text-center">{{TeaArea.teaAreaId1}}</td>
                            <td class="text-center">{{TeaTree.teaTreeCultivate}}</td>
                            <td class="text-center">
                                <div class="badge badge_outlined badge_secondary uppercase">{{TeaTree.teaTreeGrowingEnv}}</div>
                            </td>
                            <td class="text-right whitespace-no-wrap">
                               
                            </td>
                        </tr>
                        
                        
                        
                    </tbody>
                </table>
            </div>


        </div>

        <br>
        <div class="card p-5">

            <div class="overflow-x-auto">
                <table class="table table-auto table_hoverable w-full">
                    <thead>
                        <tr>
                            <th class="w-px">
                                <label class="custom-checkbox">
                                    
                                    <span></span>
                                </label>
                            </th>
                            <th class="text-left uppercase">茶树区块号</th>
                            <th class="text-center uppercase">采茶师编号</th>
                            
                            <th class="text-center uppercase">采摘时间</th>
                            <th class="text-center uppercase">鲜叶编号</th>
                            <th class="text-center uppercase">鲜叶质量</th>
                            <th class="uppercase"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="custom-checkbox">
                                   
                                    <span></span>
                                </label>
                            </td>
                            <td>574e1bd4c24fb7b7b017c55bf97d16377f991d19e2c8d582f2b600876e01c9c0</td>
                            <td class="text-center">{{TeaPick.teaPickPer.eid}}</td>
                            <td class="text-center">{{TeaPick.teaPickTime}}</td>
                            <td class="text-center">{{TeaPick.teaPickId}}</td>
                            <td class="text-center">{{TeaPick.teaPickQuality}}</td>
                            <td class="text-right whitespace-no-wrap">
                               
                            </td>
                        </tr>
                        
                        
                        
                    </tbody>
                </table>
            </div>
        </div>


        <br>
        <div class="card p-5">

            <div class="overflow-x-auto">
                <table class="table table-auto table_hoverable w-full">
                    <thead>
                        <tr>
                            
                            <th class="text-left uppercase">制茶师编号</th>
                            <th class="text-left uppercase">制茶时间</th>
                            
                            <th class="text-center uppercase">制茶工艺</th>
                            <th class="text-center uppercase">鲜叶编号</th>
                            <th class="text-center uppercase">鲜叶质量</th>
                            <th class="text-center uppercase">茶叶批编号</th>
                            <th class="text-center uppercase">茶叶批质量</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            
                            <td>{{TeaMake.teaMakePer.eid}}</td>
                            <td>{{TeaMake.teaMakeTime}}</td>
                            <td class="text-center">{{TeaMake.teaMakeWay}}</td>
                            <td class="text-center">{{TeaMake.teaMakeId}}</td>
                            <td class="text-center">{{TeaPick.teaPickQuality}}</td>
                            <td class="text-center">{{TeaPick.teaPickId}}</td>
                            <td class="text-center">{{TeaPick.teaPickQuality}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <br>
        <div class="card p-5">

            <div class="overflow-x-auto">
                <table class="table table-auto table_hoverable w-full">
                    <thead>
                        <tr>
                            
                            <th class="text-left uppercase">定级人编号</th>
                            <th class="text-left uppercase">定级时间</th>
                            
                            <th class="text-center uppercase">茶叶批编号</th>
                            <th class="text-center uppercase">茶叶等级</th>
                      
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >{{TeaRank.teaRankPer.eid}}</td>
                            <td>{{TeaRank.teaRankTime}}</td>
                
                            <td class="text-center">{{TeaRank.teaRankId}}</td>
                            
                            <td class="text-center">{{TeaRank.teaRankRank}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <br>
        <div class="card p-5">

            <div class="overflow-x-auto">
                <table class="table table-auto table_hoverable w-full">
                    <thead>
                        <tr>
                            
                            <th class="text-left uppercase">操作人编号</th>
                            <th class="text-left uppercase">包装时间</th>
                            <th class="text-left uppercase">小盒编号</th>
                            <th class="text-center uppercase">茶叶签名</th>
                            <th class="text-center uppercase">茶叶批编号</th>
                            <th class="text-left uppercase">茶叶等级</th>
                            <th class="text-left uppercase">大盒编号</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            
                            <td >{{TeaPack.teaPackPer.eid}}</td>
                            <td>{{TeaPack.teaPackTime}}</td>
                
                            <td>{{TeaPack.teaPackSmllBoxId}}</td>
                            
                            <td class="text-center">c82dssd85：未改</td>
                            <td class="text-center">c8954154：未改</td>
                            <td >&nbsp;&nbsp;&nbsp;优：未改</td>
                            <td >{{TeaPack.teaPackBigBoxId}}</td>
                            
                        </tr>

                        
                    </tbody>
                </table>
            </div>
        </div>


        <br>
        <div class="card p-5">

            <div class="overflow-x-auto">
                <table class="table table-auto table_hoverable w-full">
                    <thead>
                        <tr>
                            
                            <th class="text-left uppercase">质检批次ID</th>
                            <th class="text-left uppercase">质检人编号</th>
                            <th class="text-left uppercase">质检时间</th>
                            <th class="text-center uppercase">大盒编号</th>
                            <th class="text-center uppercase">小盒编号</th>
                            <th class="text-left uppercase">质检结果</th>
                       
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            
                            <td >{{TeaTesting.teaTestingId}}</td>
                            <td>{TeaTesting}</td>
                
                            <td>{{TeaTesting.teaTestingTime}}</td>
                            
                            <td class="text-center">{{TeaTesting.teaTestingBigBoxId}}</td>
                            <td class="text-center">{{TeaTesting.teaTestingSmllBoxId}}</td>
                            <td >&nbsp;&nbsp;&nbsp;{{TeaTesting.teaTestingResult}}</td>
                             
                            
                        </tr>
                        
                        
                        
                    </tbody>
                </table>
            </div>
        </div>


        <br>
        <div class="card p-5">

            <div class="overflow-x-auto">
                <table class="table table-auto table_hoverable w-full">
                    <thead>
                        <tr>
                            
                            <th class="text-left uppercase">仓储编号</th>
                            <th class="text-left uppercase">管理员编号</th>
                            <th class="text-left uppercase">入库时间</th>
                            <th class="text-center uppercase">出库时间</th>
                            <th class="text-center uppercase">大盒编号</th>
                         
                       
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            
                            <td >875415</td>
                            <td>9524</td>
                
                            <td>2021/05/05</td>
                            
                            <td class="text-center">2021/05/06</td> 
                            <td class="text-center">9568</td>   
                      
                             
                            
                        </tr>
                        
                        
                        
                    </tbody>
                </table>
            </div>
        </div>


        <br>
        <div class="card p-5">

            <div class="overflow-x-auto">
                <table class="table table-auto table_hoverable w-full">
                    <thead>
                        <tr>
                            
                            <th class="text-left uppercase">买方编号</th>
                            <th class="text-left uppercase">卖方编号</th>
                            <th class="text-left uppercase">销售时间</th>
                            <th class="text-center uppercase">批发/零售</th>
                            <th class="text-center uppercase">大/小盒编号</th>
                            <th class="text-center uppercase">仓库编号</th>
                            <th class="text-center uppercase">交货方式</th>
                         
                       
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            
                            <td >985654</td>
                            <td>845742</td>
                
                            <td>2021/05/10</td>
                            
                            <td class="text-center">零售</td> 
                            <td class="text-center">9568/5454</td>  
                            <td class="text-center">547851</td> 
                            <td class="text-center">快递</td>   
                       
                      
                             
                            
                        </tr>
                        
                        
                        
                    </tbody>
                </table>
            </div>
        </div>



        <br>
        <div class="card p-5">

            <div class="overflow-x-auto">
                <table class="table table-auto table_hoverable w-full">
                    <thead>
                        <tr>
                            
                            <th class="text-left uppercase">物流单号</th>
                            <th class="text-left uppercase">物流公司</th>
                            <th class="text-left uppercase">发货地址</th>
                            <th class="text-center uppercase">发货时间</th>
                            <th class="text-center uppercase">收货地址</th>
                            <th class="text-center uppercase">收货时间</th>
                            <th class="text-center uppercase">物流详情</th>
                         
                       
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            
                            <td >58445541</td>
                            <td>C快递公司</td>
                
                            <td>A地</td>
                            
                            <td class="text-center">2021/05/07</td> 
                            <td class="text-center">B地</td>   
                            <td class="text-center">2021/05/09</td> 
                            <td class="text-center">点击查看</td>   
                      
                             
                            
                        </tr>
                        
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
        </template>


        <!-- Pagination -->

        <!-- Footer  -->
        <footer class="flex mt-auto">
            <div class="footer">
                <span class='uppercase'>&copy; 2021 茶叶溯源管理后台</span>
                <nav class="ml-auto">
                    <a href="">支持</a>
                    <span class="divider mx-2">|</span>
                    <a href="#">文档</a>
                </nav>
            </div>
        </footer>

    </main>


    <!-- Scripts -->
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/script.js"></script>
    <!-- vue -->
    <script src="assets/js/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <script type="text/javascript">
        Vue.config.productionTip = false
        const vm = new Vue({
            el: '#root',
            data:{
                UserCode:"24c0e81c573147589634ae12faa32236",
                retr:true,
                msg:"",
                /*AllPojo:{*/
                    TeaArea:{
                    "teaAreaLongitude": "",
                    "teaAreaArea": "",
                    "teaGardenId2": "",
                    "teaAreaId2": "",
                    "teaAreaId1": "",
                    "teaAreaAddress": ""
                },
                    TeaGarden:{
                    teaGardenId1:"",
                    teaGardenAddress:"",
                    "teaGardenArea":"",
                    "teaGardenLongitude":"",
                    teaGardenId1:"",
                    "teaGardenId2": ""
                },
                    TeaTree:{
                    "teaTreeAddress": "",
                    "teaTreeLongitude": "",
                    "teaGardenId2": "",
                    "teaTreeCultivate": "",
                    "teaAreaId2": "",
                    "teaTreeId": "",
                    "teaTreeHeight": 0,
                    "teaTreeKind": "",
                    "teaTreeState": "",
                    "teaTreeGrowingEnv": ""
                },
                    TeaPick:{
                    "teaPickPer": {
                        "eid": "",
                        "ename": "",
                        "esex": ""
                    },
                    "teaTreeId2": "",
                    "teaPickId": "",
                    "teaPickQuality": "",
                    "teaPickTime": ""
                },
                    TeaMake:{
                    "teaMakeId": "",
                    "teaMakeWay": "",
                    "teaMakeTime": "",
                    "teaMakePer": {
                        "eid": "",
                        "ename": "",
                        "esex": ""
                    }
                },
                    TeaRank:{
                    "teaRankId": "",
                    "teaRankRank": "",
                    "teaRankPer": {
                        "eid": "",
                        "ename": "",
                        "esex": ""
                    },
                    "teaRankTime": ""
                },
                    TeaPack:{
                    "teaPackTime": "",
                    "teaPackSmllBoxId": "",
                    "teaPackPer": {
                        "eid": "",
                        "ename": "",
                        "esex": ""
                    },
                    "teaPackID": "",
                    "teaPackBigBoxId": ""
                },
                    TeaTesting:{
                    "teaTestingId": "",
                    "teaTestingSmllBoxId": "",
                    "teaTestingTime": "",
                    "teaTestingBigBoxId": "",
                    "teaTestingResult": ""
                }
               /* }*/
            },
            mounted () {
/*                axios
                    .get('/Fabric_TraceabilitySys_war_exploded/userCode/key',
                        {
                            params:{
                                key:this.UserCode
                            }
                        }
                    )
                    .then((response) =>{ // 这里如果不用箭头函数的话，this指的Windows
                        console.log("response",response);
                        console.log("json:",JSON.parse(JSON.stringify(response.data)));
                        console.log("json:",JSON.parse(JSON.stringify(response.data.teaArea)));
                        console.log(this);
                        /!**
                         * 把response的.data先转成字符串，再把字符串转为json格式
                         * JSON.parse() 方法将数据转换为 JavaScript 对象。
                         * *!/
                       /!* this.AllPojo = JSON.parse(JSON.stringify(response.data));*!/
                        if (this.TeaArea!= null){
                            this.retr = true;
                        }
                        this.TeaArea = JSON.parse(JSON.stringify(response.data.teaArea));
                        this.TeaGarden = JSON.parse(JSON.stringify(response.data.teaGarden));
                        this.TeaTree = JSON.parse(JSON.stringify(response.data.teaTree));
                        this.TeaPick = JSON.parse(JSON.stringify(response.data.teaPick));
                        this.TeaPack = JSON.parse(JSON.stringify(response.data.teaPack));
                        this.TeaMake = JSON.parse(JSON.stringify(response.data.teaMake));
                        this.TeaRank = JSON.parse(JSON.stringify(response.data.teaRank));
                        this.TeaTesting = JSON.parse(JSON.stringify(response.data.teaTesting));
                    }, function (error) {
                        console.log(error);
                    });*/
    /*            axios
                    .get('/Fabric_TraceabilitySys_war_exploded/teaarea')
                    .then((response) =>{ // 这里如果不用箭头函数的话，this指的Windows
                        console.log("response.data：",response.data.teaAreaId1);
                        console.log("response",response);
                        console.log("json:",JSON.parse(JSON.stringify(response.data)));
                        console.log(this);
                        /!**
                         * 把response的.data先转成字符串，再把字符串转为json格式
                         * JSON.parse() 方法将数据转换为 JavaScript 对象。
                         * *!/
                        this.TeaArea = JSON.parse(JSON.stringify(response.data));

                    }, function (error) {
                        console.log(error);
                    });
                axios
                    .get('/Fabric_TraceabilitySys_war_exploded/teagarden')
                    .then((response) =>{ // 这里如果不用箭头函数的话，this指的Windows
                        console.log("response.data：",response.data.teaGardenId);
                        console.log("response",response);
                        console.log("json:",JSON.parse(JSON.stringify(response.data)));
                        console.log(this);
                        /!**
                         * 把response的.data先转成字符串，再把字符串转为json格式
                         * JSON.parse() 方法将数据转换为 JavaScript 对象。
                         * *!/
                        this.TeaGarden = JSON.parse(JSON.stringify(response.data));

                    }, function (error) {
                        console.log(error);
                    });
                axios
                    .get('/Fabric_TraceabilitySys_war_exploded/teatree')
                    .then((response) =>{ // 这里如果不用箭头函数的话，this指的Windows
                        this.TeaTree = JSON.parse(JSON.stringify(response.data));

                    }, function (error) {
                        console.log(error);
                    });
                axios
                    .get('/Fabric_TraceabilitySys_war_exploded/teapick')
                    .then((response) =>{ // 这里如果不用箭头函数的话，this指的Windows
                        this.TeaPick = JSON.parse(JSON.stringify(response.data));
                    }, function (error) {
                        console.log(error);
                    });
                axios
                    .get('/Fabric_TraceabilitySys_war_exploded/teamake')
                    .then((response) =>{ // 这里如果不用箭头函数的话，this指的Windows
                        this.TeaMake = JSON.parse(JSON.stringify(response.data));
                    }, function (error) {
                        console.log(error);
                    });
                axios
                    .get('/Fabric_TraceabilitySys_war_exploded/tearank')
                    .then((response) =>{ // 这里如果不用箭头函数的话，this指的Windows
                        this.TeaRank = JSON.parse(JSON.stringify(response.data));
                    }, function (error) {
                        console.log(error);
                    });
                axios
                    .get('/Fabric_TraceabilitySys_war_exploded/teapack')
                    .then((response) =>{ // 这里如果不用箭头函数的话，this指的Windows
                        this.TeaPack = JSON.parse(JSON.stringify(response.data));
                    }, function (error) {
                        console.log(error);
                    });
                axios
                    .get('/Fabric_TraceabilitySys_war_exploded/teatesting')
                    .then((response) =>{ // 这里如果不用箭头函数的话，this指的Windows
                        this.TeaTesting = JSON.parse(JSON.stringify(response.data));
                    }, function (error) {
                        console.log(error);
                    });*/
            },
            methods:{
                showInfo(a){
                    console.log("showInfo函数被执行")
                    console.log("a:",a)
                    axios
                        .get('/Fabric_TraceabilitySys_war_exploded/userCode/key',
                            {
                                params:{
                                    userCode:this.UserCode
                                }
                            }
                        )
                        .then((response) =>{ // 这里如果不用箭头函数的话，this指的Windows
                            console.log("response",response);
                            if (JSON.parse(JSON.stringify(response.data))=="溯源码为空"){
                                alert("溯源码为空")
                            }
                            if(JSON.parse(JSON.stringify(response.data))=="溯源码无效"){
                                alert("溯源码无效")
                            }else {
                                console.log("json:",JSON.parse(JSON.stringify(response.data)));
                                console.log("json:",JSON.parse(JSON.stringify(response.data.teaArea)));
                                console.log(this);
                                /**
                                 * 把response的.data先转成字符串，再把字符串转为json格式
                                 * JSON.parse() 方法将数据转换为 JavaScript 对象。
                                 * */
                                /* this.AllPojo = JSON.parse(JSON.stringify(response.data));*/
                                this.TeaArea = JSON.parse(JSON.stringify(response.data.teaArea));
                                this.TeaGarden = JSON.parse(JSON.stringify(response.data.teaGarden));
                                this.TeaTree = JSON.parse(JSON.stringify(response.data.teaTree));
                                this.TeaPick = JSON.parse(JSON.stringify(response.data.teaPick));
                                this.TeaPack = JSON.parse(JSON.stringify(response.data.teaPack));
                                this.TeaMake = JSON.parse(JSON.stringify(response.data.teaMake));
                                this.TeaRank = JSON.parse(JSON.stringify(response.data.teaRank));
                                this.TeaTesting = JSON.parse(JSON.stringify(response.data.teaTesting));
                                if (this.TeaArea!= null){
                                    this.retr = true;
                                }
                            }
                        }, function (error) {
                            console.log(error);
                        });

                }
            }
        })

    </script>

</body>

</html>